# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/
*.csv
*.parquet
*.sqlite
mlflow.db
mlruns/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python environment
pip-wheel-metadata/

# IDE
.vscode/
.idea/

# Others
*.pyc
